.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 316px;
  height: auto;
  position: relative;
}
.slotChildren {
  font-size: 14px;
  color: rgb(0, 0, 0) /* plasmic-token: dshB_IC4T */;
}
.box {
  position: relative;
  left: auto;
  top: auto;
  font-size: 14px;
  font-weight: 700;
}
