.root {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  position: relative;
  border-radius: 16px;
  padding: 4px 12px;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: a_8vTsLPN */;
}
.box__qpSxw {
  font-size: 14px;
  font-weight: 500;
}
.box__qg1Ch {
  display: block;
  position: relative;
  background-color: rgb(0, 112, 243) /* plasmic-token: FOsGzLOVu */;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 10px;
}
.box__vnlog {
  font-size: 14px;
  color: rgb(0, 112, 243) /* plasmic-token: FOsGzLOVu */;
  font-weight: 500;
}
